/* general styles */
@font-face {
  font-family: 'Roboto';
  src: url('./font/RobotoCondensed-Regular.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

/* end of general styles */

.navigation__box {
  height: 200px;
  text-align: center;

  .logo {
    padding: 20px 0;
  }
}

.navigation__list {
  margin: 0 10px;

  .list__item {
    display: inline-block;
    background: #C0C0C0;
    margin: 10px 10px;
    padding: 6px 20px;
    border-radius: 15px;

    a {
      color: white;
    }
  }
}

.header {
  background: #C0C0C0;
  margin-top: 70px;

  .header__slider {
    height: 300px;
  }
}

.main-a__wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.main-a__list .box {
  width: 225px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #C0C0C0;
  text-align: center;

  .box__content {
    padding: 15px 10px;
  }

  .box__footer {
    background: #C0C0C0;
    padding: 8px 10px;
  }
}

.main-b__wrapper {
  width: 85%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  .big-img {
    height: 200px;
    background: #C0C0C0;
    margin-bottom: 35px;
  }

  .box-wrapper {
    overflow: auto;
    margin-top: 30px;
  }
}

.main-b__wrapper .box__small-img {
  float: left;
  margin-right: 25px;
}

.main-c .box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  .box__img {
    height: 200px;
    background: #C0C0C0;
    margin-bottom: 25px;
  }
}

.footer {
  background: #C0C0C0;
  margin-top: 30px;

  .footer__wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;

    .box {
      margin-top: 20px;
    }

    .box--margin-top {
      margin-top: 0;
    }
  }
}
